*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    font-size:medium;
    background-color: green;
}
h1{
    font-size: 40px;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    }
header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding-left: 20px;
    background-color: red;
    text-align: center;
    border: 2px solid red;
}
footer{
    text-align: center;
    font-family: black;
    font-size: 100%;
}
img{
    background-image: calc();
}
a:link {
    background-color: black;
    text-decoration: none;
    font-style:normal; 
    color:black;
    padding: 5px;
    text-transform: uppercase;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  a:visited {
    color: green;
    background-color: none;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: none;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: blac;
    text-decoration: underline;
  }
  address{
    text-align: left;
  }
  bdo{
    text-align: center;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 5px solid black;
    border-spacing: 15px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color:black;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}