*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    font-size:medium;
    background-color: green;
}
h1{
    font-size: 40px;
}
body{
    background-color: powderblue;
}
header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding-left: 20px;
    background-color: red;
    text-align: center;
    border: 2px solid red;
}
a{
   font-style:normal; 
   color:darkblue;
   padding: 50px;
   margin: 20px;
   text-transform: uppercase;
   text-align: center;
}
footer{
    text-align: center;
    font-family: black;
    font-size: 100%;
}
img{
    background-image: calc();
}