*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    font-size:medium;
}
h1{
    font-size: 40px;
}
body{
    background-color: green;
}
header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding-left: 20px;
}
